html {
  height: 100%;
  width: 100%;
}
body {
  min-height: 100%;
  min-width: 100%;
  /* overflow-x: hidden; */
}

.head_title {
  text-align: center;
  /* padding-top: 10px; */
}
.header_tabs {
  overflow: hidden;
  border: 7px solid #000;
  background-color: #ff5f05;
  border-left: none;
}

/* Style the buttons that are used to open the tab content */
.header_tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
/* .header_tabs button:hover {
  background-color: #cc4f06;
} */

/* Create an active/current tablink class */
.header_tabs button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

.self-img {
  position: absolute;
  left: 0;
  border: 7px solid #000;
}

.master {
  display: block;
  position: relative;
  left: 305px;
}

.contact_item {
  display: flex;
  padding: 20px;
}

.icon {
  width: 30px;
}

.detail {
  width: 400px;
}


#about_me_button {
  background-color: #cc4f06;
}

#about_me {
  display: block;
}